.portfolioProjectTitle{
    margin-top: 100px;  
    color: white; 
}

.CarouselImg {
    justify-content: center;
    height: 250px; 
    width: 100% 
}

.Carousel, .box {
    background: white;
    width: 20%;
    margin: 0 auto; 
    padding: 15px;
    margin-bottom: 50px; 
    height: 250px;  
    justify-content: center;
    margin-left: 22px;
    margin-right: 22px;
   
}

.box {
    margin-top: 50px; 
}


/* 
.legend {
 background: white; 
 color: black; 
 cursor: pointer; 
height: 200px;
font-size: 50px;  

} */


.Black{
    background-color: black;
    padding-bottom: 50px;
    border-style: solid;
    border-color: grey; 
    
}

.White{
    color: white;
    width: 100%;
    margin: 0 auto; 
    /* padding: 15px; */
    height: 2400px; 
    padding-top: 50px;   
    margin-top: 50px; 
    justify-content: center;
}

h1 {
    padding: 50px
}

li {
    margin: 0 auto;
    text-align:center;
}


.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.box .text{
    position: absolute;
    /* z-index: 999; */
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%; /* Set the width of the positioned div */
    color: white; 
    background: black;
    border-style: solid;
    border-color: white;
    opacity: .5; 
}

.box .text:hover{
    cursor: pointer;
    opacity: 1;
}
