.text-center {
    text-align: center; 
}
   
.contactMeContainer {
    color: white; 
    background-position: center;
    background-size: cover;
    background-image: url('./Images/ContactMeFormBackground.jpg');
    padding-top: 200px;
    margin-top: -5px; 
    padding-bottom: 50px; 
    height: 750px; 
}


.contactMeIconContainer {
    width: 33%;
    margin: 0 auto; 
    float: left; 
    text-align: center;
    padding-top: 50px; 
    margin-top: 50px; 
}

.contactMeIcon{
    height: 250px;
    width: 250px;
}