.contactMeContainer {
    color: white; 
    background-color: #320d6d
}

#contact-form {
    margin: auto;
    width: 50%;
  
   
  
}

input, textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px; 
    margin-bottom: 25px; 
}

input {
    height: 25px; 
}

textarea {
    height: 100px; 
}


