.text-center {
    text-align: center; 
}
   
.contactMeContainer {
    color: white; 
    background-position: center;
    background-size: cover;
    background-image: url('./Images/ContactMeFormBackground.jpg');
    padding-top: 200px;
    margin-top: -5px; 
    padding-bottom: 50px; 
    height: 750px; 
}

#contact-form {
    margin: auto;
    width: 50%;
  
   
  
}

input, textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px; 
    margin-bottom: 25px; 
}

input {
    height: 25px; 
}

textarea {
    height: 100px; 
}


