.title {
    
    height: 100vh; 
    width: 100vw; 
    color:black;
    text-align: center; 
    font-size: 25px;
    font-family: 'Permanent Marker', cursive;
    background-position: center;
    background-size: cover;
    background-image: url('./Images/codingbackground.jpg');
    overflow: hidden;  
    margin-bottom: 50px; 
}

.titleText{
    position: relative;
    top: 25%;
    color: white; 
}

h1 {
    font-family: 'Permanent Marker', cursive;
}