.title {
    
    height: 100vh; 
    width: 100vw; 
    color:black;
    text-align: center; 
    font-size: 25px;
    background-position: center;
    background-size: cover;
    background-image: url('./Images/codingbackground.jpg');
    overflow: hidden;  
    padding-bottom:100px;  
}

.titleText{
    position: relative;
    top: 25%;
    color: white; 
}
