.title {
    
    height: 1000px; 
    color:black;
    text-align: center; 
    font-size: 25px;
    background-position: center;
    background-size: cover;
    background-image: url('./Images/codingbackground.jpg');
    padding-bottom:100px;

}

.titleText{
    position: relative;
    top: 35%;
    color: white; 
}

.AstroBearLogo {
    position: relative; 
    top: 30%;
    height: 250px;
    width: 250px; 
}