.SkillsTitle{
    text-align: center; 
    padding: 50px; 
}

.SkillsCol {
    border-radius: 50%;
     
    justify-content: center; 
    margin: auto; 
    /* padding-left: 50px;  */
    margin: auto;
    width: 33%;


}

@media (max-width: 1000px) {
    .SkillsCol{
        width: 50%; 
    
    }
}


@media (max-width: 600px) {
    .SkillsCol{
        width: 100%; 
    
    }
}