.SkillsBlack {
    color: black;
    margin-left: auto;
    margin-right: auto; 
    width: 100vw; 
    /* margin-left: auto;
    margin-right: auto;  */
}

.SkillsImg, .SkillsImg2, .SkillsImg3 {
    margin-left: auto;
    margin-right: auto; 
    width: 400px; 

    
    }


h1, h3 {
    text-align: center;
  
}


.SkillCol {
    width: 33%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    float: left;  

}