.fixed {
    position: fixed; 
    width: 100vw;
    z-index: 1;
    
}



.textColor, .textColorPrimary {
  
        color: white; 
        
}

.textColor:hover {
    color: red; 
}



.textBold {

    font-weight: 1000px; 
}