.ProjectCol {
    width: 33%; 
    text-align: center;
    height: 100%

} 

.ProjectCol2 {
    
    width: 33%
}

.test {
    display: inline-block;
    color: black; 
    text-align: center;  
}

.button {
     height: 500px; 
}

.imgBorder {
    border-style: solid;
    border-width: 3px; 
    border-color: black; 
}

.ProjTitle {
    display: block; 
}

.text {
  color: black;
  text-decoration: none;
  display: inline; 
}

.githubLink{
    color: black;
    
}

.hover:hover{
    border-color: tomato; 
}

.titleCol{
    margin-top:50px;
    padding-top: 50px;

}


a {
    text-decoration: none; 
}

.row {
    margin-top: 50px; 
}

.projTitle {
    margin-top: 900px; 
    
}

