.ProjectCol {
    width: 33%;
    margin: 0 auto; 
    float: left; 
    text-align: center;
    padding-top: 50px; 
    margin-top: 50px; 
  

}



.imgBorder {
    border-style: solid;
    border-color: white; 
}

.ProjTitle {
    width: 1000px;
    display: block; 
}

.text {
  color: white;
  text-decoration: none
}

.hover:hover{
    background-color: grey; 
}

.titleCol{
    margin-top:50px;
    padding-top: 50px;

}


a {
    text-decoration: none; 
}

.row {
    margin-top: 50px; 
}

.projTitle {
    margin-top: 900px; 
    
}

