.ProjectCol {
    width: 33%;
    margin: 0 auto; 
    float: left; 
    text-align: center;
    padding-top: 50px; 
    margin-top: 50px; 

}

.gifColumn{
    width: 33%;
    margin: 0 auto; 
    float: left; 
    text-align: center;
    padding-top: 50px; 
    margin-top: 50px;


}



.imgBorder {
    border-style: solid;
    border-width: 3px; 
    border-color: black; 
}

.ProjTitle {
    display: block; 
}

.text {
  color: black;
  text-decoration: none
}

.githubLink{
    color: black; 
}

.hover:hover{
    border-color: tomato; 
}

.titleCol{
    margin-top:50px;
    padding-top: 50px;

}


a {
    text-decoration: none; 
}

.row {
    margin-top: 50px; 
}

.projTitle {
    margin-top: 900px; 
    
}

